.info{
    background: #c9c1ac;
  }
  
  .info a{
    transition: color 2s ease-in-out;
  }
  .info a:hover{
    color: #242424;
  }
  .primary-color{
    color:#d3325f !important;
  }
  

#header{
    min-height: calc(100vh - 200px) !important;
    background: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.height-90{
    min-height: calc(100vh - 94px) !important;
}

.banner h1{
    border-top: 6px dotted #c9c1ac;
    border-bottom: 6px dotted #c9c1ac;
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.main-btn{ 
    color: #d3325f !important;
    font-size: 2rem;
    border: 2px solid #d3325f;
    transition: all 1s ease-in-out;
}
.main-btn:hover{
    color:#242424;
    border: 2px solid #c9c1ac;
    background: #c9c1ac;
}
@keyframes fromLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.header-link{
    display: inline-block !important;
    position: absolute;
    bottom: 20%;
    left: 50%;   
    background:#c9c1ac !important;
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromButton;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.header-link{
    color:#c9c1ac;
}
@keyframes fromButton{
    0%{
        transform: translateY(-10px);        
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);        
    }
}